.board-image-container img {
	width: 33%;
	position: relative;
	margin-bottom: 50px;
}

.container {
}

.members {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.member {
	height: 500px;
	width: 100%;
  margin-bottom: 5rem;
}

.member img {
	height: 95%;
	object-fit: cover;
  object-position: 50% 20%;
}

.members h4 {
	font-size: 2rem;
	margin: 0 0 1.3rem 5rem;
}

.board-name-bg {
	max-width: 70%;
	margin: 0 auto;
}

.board-name-bg h4 {
	color: #000;
}

.board-name-bg p {
	color: #b08d57;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
	.members h4 {
		margin: 0 0 1.5rem 2.2rem;
	}
}

@media screen and (min-width: 375px) and (max-width: 424px) {
	.members h4 {
		margin: 0 0 1.5rem 5rem;
	}
}

@media screen and (min-width: 425px) and (max-width: 580px) {
	.members h4 {
		margin: 0 0 1.5rem 5rem;
	}
}

@media screen and (min-width: 581px) and (max-width: 992px) {
	.members h4 {
		margin: 0 0 1.3rem 5rem;
	}
}

@media screen and (min-width: 993px) and (max-width: 1279px) {
	.members h4 {
		margin: 0 0 1.3rem 4.7rem;
	}

	.board-image-container img {
		width: 50%;
	}

	.members h4 {
		margin: 0 0 1.3rem 4.7rem;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
	.board-image-container img {
		width: 50%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
	.board-image-container img {
		width: 40%;
	}
}
